*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-variant-ligatures: normal;
  font-size: 16px;
  background-color: #303030;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant-ligatures: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #303030;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant-ligatures: normal;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #181818;
}

.header {
  padding-top: 4%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: -1%;
  margin-left: 0;
  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  border: 2px solid #181818;
  color: #181818;
  background-color: grey;
  height: 100px;
  background-image:
    radial-gradient(
      #00ff7f,
      #181818 
    );
}

.info {
  word-spacing: 4px;
  text-align: center;
  color: #00ff7f;
  background-color: #181818; 
  font-size: 14px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.profile {
  margin-left: 25%;
  margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-variant-ligatures: normal;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.paragraph1 {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 10%;
  margin-top: 10%;
  color: white;
  font-size: 19px;
  font-style: italic;
  padding-bottom: 5%;
}

.experience {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: -5%;
  padding-top: 5%;
  padding-bottom: 0%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  color: white;
}

.logo1 {
  text-align: center;
  background-color: white;
}

.job1 {
  text-align: center;
  color: #181818;
}

img {
 max-width: 14%;
 height: auto;
 background-color: white;
}

.list1 {
  color: #181818;
  margin-left: 7%;
}

.aflogo {
  max-width: 7%;
  height: auto;
  padding-bottom: 3%;
}

.logo2 {
  text-align: center;
}

.job2 {
  text-align: center;
  color: #181818;
}

.list2 {
  text-align: ;
  color: #181818;
}

.logo3 {
  text-align: center;
}

.job3 {
  text-align: center;
  color: #181818;
}

.list3 {
  color: #181818;
}

.job4 {
  text-align: center;
  color: #181818;
}

.list4 {
  color: #181818;
}

.h4ups {
  color: #181818; 
}

.education {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: -5%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  color: white;
}

.logo4 {
  text-align: center;
}

.centurylogo {
  max-width: 8%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 5%;
}

.paragraph2 {
  text-align: center;
  color: #181818;  
}

.references {
  text-align: center;
  color: #181818;
}

.paragraph3 {
  color: #181818;
}

.paragraph4 {
  text-align: center;
}

.h4usaf {
  text-align: center;
  color: #181818; 
}

.hobbies {
  text-align: center;
}

div.box1 {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #00ff7f;
  margin-top: 7%;
  margin-bottom: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

div.box2 {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #00ff7f;
  margin-top: 7%;
  margin-bottom: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

div.box3 {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #00ff7f;
  margin-top: 7%;
  margin-bottom: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

div.box4 {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #00ff7f;
  margin-top: 7%;
  margin-bottom: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

div.box5 {
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #00ff7f;
  margin-top: 7%;
  margin-bottom: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
}

div.box6 {
  word-spacing: 4px;
  text-align: center;
  color: #00ff7f;
  background-color: #181818; 
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

div.box7 {
  padding-top: 4%;
  padding-bottom: 5%;
  margin-top: -1%;
  margin-bottom: -5%;
  font-family: Arial, Helvetica, sans-serif;
  font-variant-ligatures: normal;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  border: 2px solid #181818;
  color: #181818;
  background-color: grey;
  height: 100px;
  background-image:
    radial-gradient(
      #00ff7f,
      #181818 
    ); 
}
